body{
    margin: 0%;
    background: linear-gradient(to right, rgba(235, 235, 19, 0.75),yellowgreen);
    font-family: sans-serif;
    padding: 0%;
}

.password{
    width: 350PX;
    height: 500px;
    background-color:#000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: 1;
    box-shadow: white;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    z-index: -1;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.password p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.password input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.password input
{
    border: none;
    outline: none;
    height: 40px;
    background-color: yellow;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
}

.password input:hover
{
    cursor: pointer;
    background-color: rgba(19, 235, 134, 0.75);
    color: #fff;
    transition: 0.5s;
}

a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;

}
.password .hover {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;

}
.password .hover:hover
{   
    background-color: rgba(235, 235, 19,0.75);
}

